html {
    font-size: 10px;
}

body {
    margin: 0 auto;
    width: 1020px;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.header {
    background: #2d2f39;
}
.header-content {
    padding: 40px 0px 10px 10px;
}
.header-content p {
    margin-bottom: 10px;
}
.tags {
    display: flex;
    width: 290px;
    justify-content: space-between;
}
.tags p {
    font-family: "Lato", Verdana, sans-serif;
    font-size: 1.1rem;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 0px 5px;
}
.tags p:first-child{
    color: #dedede;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.profiles p {
    margin: 20px 0px;
    font-family: "Lato", Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 20px;
    color: #767e9e;
    margin: 8px 0px 25px 0px;
}
.container {
    background: #2d2f39;
    padding-bottom: 55px;
    border-bottom: 7px solid #313745;
}
.container_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_wrapper:nth-child(n+13) {
    display: none;
}
.image {
    margin: 10px;
}
.info {
    background: #f1f1f1;
    padding-bottom: 50px;
    border-bottom: 7px solid #ffffff;
}
.about {
    margin-left: 10px;
    padding-top: 40px;
    margin-bottom: 48px;
}
.page {
    width: 300px;
    margin: 0px 10px;
}
.profiles{
    display: flex;
    margin-bottom: 18px;
}
.society {
    width: 153px;
    display: flex;
    justify-content: space-between;
}
.profiles h2 {
    margin: 15px 0px 0px 0px;
}
h1 {
    color: #666d89;
    font-size: 3rem;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: none;
}
p {
    color: #767e9e;
    font-size: 1.8rem;
    font-family: "Lato", Verdana, sans-serif;
    line-height: 1.5em;
    font-weight: 300px;
    overflow: hidden;
}
h2 {
    color: #666d89;
    font-size: 1.8rem;
    font-family: "Lato", Verdana, sans-serif;
}
.society img:hover {
    background-color: #767e9e;
    border-radius: 50%;
}
.tags p:hover{
    color: coral;
    border: 1px solid coral;
    border-radius: 5px;
}